<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/register/" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
        <label for="login">login</label>
        <input id="login" name="login" type="text" value="" placeholder="login" autofocus>

        <label for="password">password</label>
        <input id="password" name="password" type="password" value="" placeholder="password">

        <label for="name">name</label>
        <input id="name" name="name" type="text" value="" placeholder="name" autofocus>

        <label for="surname">surname</label>
        <input id="surname" name="surname" type="text" value="" placeholder="surname" autofocus>

        <label for="age">age</label>
        <input id="age" name="age" type="number" placeholder="age" autofocus>

        <label for="gender">gender</label>
        <input id="gender" name="gender" type="text" value="" placeholder="gender" autofocus>

        <label for="hobbies">hobbies</label>
        <input id="hobbies" name="hobbies" type="text" value="" placeholder="hobbies" autofocus>

        <label for="city">city</label>
        <input id="city" name="city" type="text" value="" placeholder="city" autofocus>

        <input type="submit" value="register"/>
    </form>

</body>
</html>